.profileTop {
    background-color: white;
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
}

.profile-picture-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Make it a circle by setting border-radius to 50% */
    overflow: hidden;
    /* Hide the overflow to make sure it stays a circle */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #f0f0f0;
    padding: 10px;
}

.profile-picture {
    width: 100%;
    /* Make the image fill the container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
}

.buttonsContainer {
    margin-top: 10px;
}

.signoutButton {
    background-color: #F8A0A0; 
    margin-left: 5px;
}
.signoutButton:hover {
    background-color: #ee6363;
    color: white;
}

.editButton {
    margin-right: 5px;
}

.persIcons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.persInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.infoRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Adjust the margin between rows as needed */
}

.linesofInfo { /*tightly targeting only the information lines*/
    margin-bottom: 20px;
   /* align-items: left;*/
}

.persInfoContainer h3 {
    text-align: center;
}

.persInfoContainer p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* Adjust the margin as needed */
}

.changePW {
    margin-left: 40px;
}

.table {
    width: 100%;
    margin-top: -10px;
}

.AppointmentsContainer {
    margin: 20px auto;
}

.apptsInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

th { /*Table top header*/
    background-color: #D8E79C;;
}

.noAppts {
    text-align: center;
    padding: 20px;
    color: #888;
    font-weight: bold;
}

/* Styles for mobile*/
@media screen and (max-width: 767px) {
    
}