
.orderInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
}

.apptActionContainer {
    position: relative;
}


.apptActionButton {
    margin-left: auto;
    margin-bottom: 0px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0px;
    font-family: "Poppins";
    font-size: 13px;
    width: 170px;
    height: 30px;
    display: block;
    right: 100%;
    text-align: center;
    text-transform: none;
        /*makes it stop being uppercase like other buttons*/
}

.custom-dropdown {
    padding: 10px;
    font-family: "Poppins";
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    width: 175px;
}

.order-dropdown-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    /* Add margin to the right of the first dropdown */
}

.order-dropdown+.order-dropdown {
    margin-left: 5px;
    /* Add margin to the left of the second dropdown */
}

.profileTop {
    background-color: white;
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
}

.profileTop h2 {
    font-family: "poppins";
    font-weight: normal;
}

.profile-picture-container {
    border-radius: 50%;
    /* Make it a circle by setting border-radius to 50% */
    overflow: hidden;
    /* Hide the overflow to make sure it stays a circle */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #f0f0f0;
    padding: 10px;
}

.profile-picture {
    width: 100%;
    /* Make the image fill the container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
}

.buttonsContainer {
    margin-top: 10px;
}

.editButton,
.signoutButton,
.changePW, .shopButton {
    width: 150px;
    font-size: 14px;
}

.changePW {
    margin-bottom: 5px;
    margin-top: -5px;
}

.signoutButton {
    background-color: #F8A0A0; 
    margin-left: 5px;
}
.signoutButton:hover {
    background-color: #ee6363;
    color: white;
}

.editButton {
    margin-right: 5px;
}

.persIcons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}



.persInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.infoRow {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* Adjust the margin between rows as needed */
    border-bottom: 1px solid #ddd;
        /* Add a horizontal line */
}

.linesofInfo { /*tightly targeting only the information lines*/
    margin-bottom: 20px;
   /* align-items: left;*/
}

.persInfoContainer h3 {
    text-align: center;
}

.persInfoContainer p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* Adjust the margin as needed */
}

.table {
    width: 100%;
    margin-top: -10px;
    text-align: center;
    border-collapse: collapse;
}

.AppointmentsContainer {
    margin: 20px auto;
    text-align: center;
    
}

.apptsInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;

}

th,
td {
    padding: 8px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

}


th { /*Table top header*/
    background-color: #D8E79C;
}

.noAppts { 
    padding: 20px;
    color: #888;
    font-weight: bold;
}



.orderHistory {
    margin-bottom: 30px;
    margin-top: 15px;
}

/* Styles for mobile*/
@media screen and (max-width: 767px) {
    .table tr,
        .table td {
            font-size: 11.5px;
        }

        .table th {
            font-size: 13px;
        }

        .apptActionButton {
            width: 85px;
            height: 30px;
            font-size: 12px;
        }

        .apptsInfoContainer {
         min-width: 550px;
        }

        .orderInfoContainer { 
            min-width: 550px;
        }

        .persInfoContainer {
            min-width: 550px;
        }

    .profile-picture-container {
            width: 100px;
            height: 100px;
        }

        .persIcons {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .changePW {
            margin-left: 40px;
        }

}

/* Styles for web*/
@media screen and (min-width: 767px) {
    /* Set a fixed width for the Services column */
        .table th:nth-child(2),
        .table td:nth-child(2) {
            width: 200px;
            /* Adjust the width as needed */
        }
    
        /* Set a fixed width for the Services column */
        .table th:nth-child(3),
        .table td:nth-child(3) {
            width: 300px;
            /* Adjust the width as needed */
        }
    
        /* Set a fixed width for the Services column */
        .table th:nth-child(4),
        .table td:nth-child(4) {
            width: 100px;
            /* Adjust the width as needed */
        }


    .apptsInfoContainer {
        width: 70%;
        max-width: 1050px;
        min-width: 800px;
    }

    .orderInfoContainer {
        width: 70%;
        max-width: 1050px;
        min-width: 800px;
    }
    .buttonsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        }

    .signoutButton {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .editButton {
        margin-left: auto;
            margin-right: auto;
    }

    .changePW {
        margin-left: 120px;
    }

    .profileContainer {
            display: flex;
            gap: 20px;
                /* Add spacing between the two containers */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 70%;
            max-width: 1050px;
            min-width: 800px;
        }

        .profileTop {
            flex: 0 0 30%; /* Adjust the percentage for the desired width */
        }


        .profileTop h2 {
            font-size: 20px;
        }

        .persInfoContainer {
            box-shadow: none;
            margin: 0;
            flex: 1;
        }   

        .linesofInfo {
            width: 90%;
        }

        .persInfoContainer h3 {
            margin: 20px 0;
            margin-top: 50px;
            text-align: left; 
        }


    .profile-picture-container {
        width: 100px;
        height: 100px;
    }

    .persIcons {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

}
