.profileTop {
    background-color: white;
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
}

.profile-picture-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Make it a circle by setting border-radius to 50% */
    overflow: hidden;
    /* Hide the overflow to make sure it stays a circle */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #f0f0f0;
    padding: 10px;
}

.profile-picture {
    width: 100%;
    /* Make the image fill the container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
}

.buttonsContainer {
    margin-top: 10px;
}

.signoutButton {
    background-color: #F8A0A0; 
    margin-left: 5px;
}
.signoutButton:hover {
    background-color: #ee6363;
    color: white;
}

.editButton {
    margin-right: 5px;
}

.persIcons {
    width: 20%;
}

.persInfoContainer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 20px auto;
}

.persInfoContainer h3 {
    margin: 20px;
}

/* Styles for mobile*/
@media screen and (max-width: 767px) {
    .persInfoContainer {
        padding: 0 30%;
    }
}