.overview-container {
  margin: 20px 150px;
  display: flex;
  gap: 100px;
  justify-content: flex-end;
}

.overview-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.overview-content {
  margin-top: 40px;
  margin-bottom: auto;
}

.appt_overview_textArea {
  width: 380px;
}

.appt_overview_text {
  width: 380px;
  text-align: justify;
  margin-bottom: 40px;
}

.cancelation-policy {
  width: 75%;
}

#payment-method {
  display: flex;
  align-items: center;
}

#payment-method img {
  width: 50px;
}

.overview-container > div {
  flex: 1;
}

.overviewAppt {
  float: right;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 300px;
  padding: 0 50px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  min-height: 460px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  width: 50px;
}

#booked-time {
  font-size: 12px;
  margin-bottom: 40px;
}

#booked-service {
  display: flex;
  justify-content: space-between;
}

#total {
  margin-bottom: 40px;
}

.OverviewDeats {
  display: grid;
  grid-template-columns: 1fr auto;
  /* Define two columns: one taking up the remaining space, and one sized by its content */
  justify-content: space-between;
  /* This will place the columns on opposite ends of the div */
}

@media (max-width: 768px) {

  .payment-method {
    margin-top: 40px;
  }
  /* Adjust the max-width as needed for your breakpoint */
  .overview-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 90vw !important;
    max-width: none;
  }

    .payment-method, .cancelation-policy, .appt_overview_text, .booking-notes, .appt_overview_text p {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
      width: 100%;
      max-width: none;    
    }

    .appt_overview_textArea {
      width: 100%;
    }

  .overviewAppt {
    margin-bottom: 100px;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw !important;
    max-width: none;
    padding: 0;
    margin-bottom: 100px;
    min-height: 460px;
  }

  .payment {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

   .overviewAppt p {
    margin: 20px;
 }
      
   .overviewAppt h2 {
    margin-left: 10px;
 }

  .appointmentoverviewappt {
    margin-left: 10px;
    margin-bottom: -30px;
  }

    .appointmentoverviewappt p {
      margin-left: 10px;
    }

  
  .apptoverviewcontinuebutn {
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

  }

  .lineapptov {
    width: 90%;
  }
}


