/* Common Styles */
.appt-form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 20px 30px;
    padding: 15px;
    background-color: white;
    text-align: center;
}

.appt-heading {
    background-color: #BACA82;
    margin: 0 20px;
    padding: 10px;
    margin-top: 30px;
    height: 80px;
}

.appt-title {
    margin-top: 0;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.prof-image img {
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;
    border: 1px solid #000;
    display: inline-block;
    margin-top: -15px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 20px auto;
    width: 60%;
}

.status-container {
    display: flex;
    margin-right: 20px;
    margin-top: -15px;
}

.complete {
    margin: 25px 10px;
    background-color: #89E569;
    border-radius: 15px;
    width: 100px;
}

.bolded,
.bolded-title,
.bolded-time,
.bolded-status {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -20px;
}

.bolded-title {
    margin-right: 45px;
    margin-top: -15px;
    margin-bottom: 2px;
}

.bolded-time {
    margin-top: -50px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.center-section p {
    margin: 5px 0;
}

.profile-button {
    margin-bottom: 20px;
}

.calendar-icon {
    width: 40px;
    height: 38px;
    margin: 10px 10px 0 0;
}

.icon-move {
    display: flex;
    margin-right: 50px;
}

/* Web Design */
@media screen and (min-width: 767px) {
    .appt-form {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        justify-content: space-between;
        margin: 0 20px 30px;
        padding: 15px;
        background-color: white;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .appt-heading {
        background-color: #BACA82;
        margin: 0 20px;
        padding: 10px;
        margin-top: 30px;
        height: 80px;
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
}