/* Mobile Design */
@media screen and (max-width: 767px) {
.appt-form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}
.appt-heading {
    background-color: #BACA82;
    margin-left: 30px;
    margin-right: 30px;
}
.prof-image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

}