.articles-contents {
  text-align: justify;
  margin: 0 10px;
  padding: 0 50px 40px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  padding-top: 30px;
  font-weight: 400;
  line-height: normal;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/* web screen */
@media screen and (min-width: 767px) {
  .post1 {
    background-color: white;
  }

  .main-image {
    padding-top: 80px;
    display: flex;
    align-items: center;
    width: 65%;
      max-height: 500px;
      object-fit: cover;
    flex-shrink: 0;
    position: relative;
    margin: 0 auto;
  }

  .post-general-info h4 {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .art-title {
    margin: 0 auto;
    max-width: max-content;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .category {
    white-space: nowrap;
    position: absolute;
    left: 25%;
    right: 64%;
  }

  .author {
    position: absolute;
    left: 64%;
    right: 24%;
  }
  .articles-contents {
    text-align: justify;
    margin: 0 10px;
    padding: 0 50px 40px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    padding-top: 30px;
    font-weight: 400;
    line-height: normal;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
  }

  .pink-image-container {
    float: right;
    margin: 20px 0 10px 20px;
  }

  .pink-image {
    width: 342px;
    height: 408px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .articles-contents::after {
    content: "";
    display: table;
    clear: both;
  }
}
/* Mobile screen */
@media screen and (max-width: 766px) {
  .post1 {
    background-color: white;
  }
  .main-image {
    padding-top: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    flex-shrink: 0;
    position: relative;
    margin: 0 auto;
  }

  .articles-contents {
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    text-align: justify;
    width: 80%;
    margin-top: -35px;
  }

  .art-title {
    margin: 0 auto;
      max-width: max-content;
      font-family: Poppins;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 10px;
      width: 80%;
  }
  .category, .author {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    margin-top: 10px;
    width: 80%
  }

  .pink-image {
    max-width: 100%;
    margin: 20px auto;
    display: block;
  }

  .list-content {
    padding: 0 30px 30px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
  }
}

