.articles-contents {
  text-align: justify;
  margin: 0 10px;
  padding: 0 50px 40px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  padding-top: 30px;
  font-weight: 400;
  line-height: normal;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}




/* web screen */
@media screen and (min-width: 767px) {
  .art-title {
      font-family: Poppins;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 0px;
      width: 80%;
      max-width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .cat-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-shrink: 0;
      margin-top: 0px;
      max-width: 800px;
      margin-left: auto;
        margin-right: auto;
        margin-bottom: -70px;
    }
  
    .category,
    .author {
      box-sizing: border-box;
      padding-top: 0px;
      width: 48%;
      max-width: 600px;
      text-align: center;
      
    }

  .post1 {
    background-color: white;
    overflow: hidden;
  }

  .main-image {
  padding-top: 80px;
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 650px;
    max-width: 800px;
    max-height: 500px;
    height: auto;
    flex-shrink: 0;
    position: relative;
  }

  .post-general-info h4 {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .art-title {
    margin: 0 auto;
    max-width: 800px;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .articles-contents {
    text-align: justify;
    margin: 0 10px;
    padding: 0 50px 40px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    padding-top: 30px;
    font-weight: 400;
    line-height: normal;
    width: 65%;
    min-width: 650px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: 100px;
  }

  .pink-image-container {
    float: right;
    margin: 20px 0 10px 20px;
  }

  .pink-image {
    width: 342px;
    height: 408px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .articles-contents::after {
    content: "";
    display: table;
    clear: both;
  }
}
/* Mobile screen */
@media screen and (max-width: 766px) {
  .post1 {
    background-color: white;
    box-sizing: border-box;
  }
  .main-image {
    padding-top: 70px;
    display: flex;
    align-items: center;
    width: 80%;
    object-fit: cover;
    flex-shrink: 0;
    position: relative;
    margin: 0 auto;
  }

  .articles-contents {
    font-family: Poppins;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    font-size: 11px;
    font-style: normal;
    text-align: justify;
    width: 80%;
    margin-top: -35px;
  }

  .art-title {
    margin: 0 auto;
      max-width: max-content;
      font-family: Poppins;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 10px;
      width: 80%;
  }
.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-top: 10px;
}

.category,
.author {
  box-sizing: border-box;
  padding-top: 10px;
  width: 48%;
  max-width: 400px;
  text-align: center;
}

  .pink-image {
    max-width: 100%;
    margin: 20px auto;
    display: block;
  }

  .list-content {
    padding: 0 30px 30px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
  }
}

