/* web screen */
@media screen and (min-width: 767px) {
    .post1 {
        background-color: white;
    }

    .main-image {
        display: flex;
        align-items: center;
        max-width: 50%;
        height: 50%;
        flex-shrink: 0;
        position: relative;
        margin: 0 auto;
    }

    .post-general-info h4 {
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .art-title {
        margin: 0 auto;
        max-width: max-content;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 80px;
    }

    .category {
        position: absolute;
        left: 25%;
        right: 64%;

    }

    .author {
    position: absolute;
    left: 64%;
    right: 24%;
    }

    .article-content{
        text-align: justify;
        margin: 0 50px;
        padding: 0 80px 80px;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .pink-image{
    width: 342px;
    height: 408px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    float:right;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    }

    .arrow{
        position: absolute;
        left: 8%;
        width: 50px;
    }

    .arrow:hover {
        width: 55px;
    }
}