.filter-dropdown {
  position: absolute;
  top: 100%;
  /* Adjust the top position based on your layout */
  right: 0;
  /* Align with the right side of the parent container */
  margin-top: 20px;
  margin-right: 50px;
  /*line up with image*/
}

 .filter-dropdown select {
   padding: 5px;
   font-family: Poppins;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 183%;
   display: block;
   margin-bottom: 10px;
 }


/* web screen */
@media screen and (min-width: 767px) {
  .main-blog-page {
    position: relative;
    width: 1000px;
    height: 450px;
    padding-top: 0px;
    margin: 0 auto;
    margin-bottom: 80px;
    flex-shrink: 0;
  }

  .bg-image {
    display: flex;
    align-items: center;
    width: 90%;
    height: 450px;
    position: relative;
    margin: 0 auto;
    flex-shrink: 0;
    background: lightgray url("../assets/images/flower.jpeg") center/cover
      no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .inner-container {
    padding: 0 20px;
  }

  .overlay-box {
    display: flex;
    position: relative;
    margin: 0 auto;
    bottom: 155%;
    left: -15%;
    max-width: 500px;
    height: 268px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1;
  }

  .overlay-text {
    position: relative;
    bottom: 108%;
    left: 6%;
    z-index: 2;
  }

  .header-1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0;
    padding-right: 735px;
    padding-top: 175px;
    padding-bottom: 0;
  }

  .sub-text {
    padding-left: 85px;
    width: 339px;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -17px;
    margin-bottom: 27px;
  }

  .subscribe {
    width: 339px;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 85px;
    white-space: nowrap;
  }

  .sub-button {
    margin-left: 17px;
  }

  .email {
    width: 222px;
    height: 51px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  #email::placeholder {
    color: #000;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 15px;
    font-size: 14px;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 0 20px;
    max-width: 1000px;
  }

  .Hair,
  .Massage,
  .Makeup {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: auto;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 47px;
  }

  .Hair img,
  .Massage img,
  .Makeup img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    height: 200px;
  }

  .Hair p,
  .Massage p,
  .Makeup p {
    flex-grow: 1;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }

  .Hair h3,
  .Massage h3,
  .Makeup h3 {
    color: var(--Vampire-Black, #090b0a);
    text-align: start;
    word-wrap: break-word;
    white-space: normal;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .Hair button,
  .Massage button,
  .Makeup button {
    display: block;
    margin-left: auto;
    margin-top: auto;
  }
  #category {
    width: 170px;
    height: 41px;
    flex-shrink: 0;
  }

}

/* Mobile Screen */
@media screen and (max-width: 767px) {
  .main-blog-page {
    position: relative;
      display: flex;
      flex-direction: column;
    }
  
    .posts-container {
      order: 2;
      /* Move the posts container to be the second item in the flex container */
    }
  .filter-dropdown {
      position: absolute;
        top: 100%;
        /* Adjust the top position as needed */
        right: 0;
        /* Align with the right side of the screen */
        margin-top: 15px;
        /* Add margin to create space between posts and filter dropdown */
        margin-right: 30px;
    }



  .overlay-text {
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    padding-bottom: 30px;
  }

  .sub-text {
    text-align: center;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    margin: 0 auto;
    max-width: 500px;
  }

  .email {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }

  .sub-button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }


  .Hair,
  .Massage,
  .Makeup {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px 10px;
  }

  .Hair p,
  .Massage p,
  .Makeup p {
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Hair h3,
  .Massage h3,
  .Makeup h3 {
    font-family: Poppins;
    font-size: 15px;
    word-wrap: break-word;
    white-space: normal;
  }

  .Hair button,
  .Massage button,
  .Makeup button {
    margin: 10px 0 10px auto;
    display: block;
  }
}
