/* web screen */
@media screen and (min-width: 767px) {
    .main-blog-page {
        height: 600px;
        padding-top: 100px;
        margin-top: 0px;
        flex-shrink: 0;
        background: url("../assets/images/flower.jpeg") lightgray center/cover no-repeat;
        background-position: 50% 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}