/* general */
#cart main {
  padding: 52px 198px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}
#cart main > div:first-child {
  margin-left: auto;
}
/* cart */
.cart-container {
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 23px;
}
.cart-item {
  display: grid;
  grid-template-columns: auto 12vw auto;
  width: 100%;
  gap: 19px;
  margin-bottom: 25px;
}
.cart-item:last-child {
  margin-bottom: 0;
}

.cart-item > img:first-child {
  width: 117px;
  aspect-ratio: 1;
  object-fit: cover;
}
.item-interaction {
  display: flex;
  align-items: center;
  gap: 20px;
}
.item-interaction img {
  width: 23px;
  height: 23px;
}

/* subtotal */
.subtotal > p:first-child {
  margin-top: 50px;
}
