/* web screen */
@media screen and (min-width: 767px) {
  .titles-containers {
    padding: 20px;
    margin: 0;
  }
  .titles-containers h1 {
    margin: 0;
    padding: 0;
  }
  .tabs {
    text-align: center;
    font: 700 26px "Cormorant";
    margin-bottom: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 20px 0;
  }

  .tabs button {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 10px;
  }

  .tabs button.active {
    background-color: #baca82;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .tabs button:not(.active) {
    background-color: transparent;
    box-shadow: none;
  }

  .category-list {
    font: 400 16.342px Poppins;
  }

  .category-list [class^="item-"] {
    white-space: pre-line;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .category-list [class^="item-"]:hover {
    transform: scale(1.05);
  }

  .tabs-cat-list {
    flex-direction: column;
  }

  .button-container {
    display: flex;
    align-items: center;
  }
img {
  max-width: fit-content;
  max-height: fit-content;
}
  .check-mark {
    max-width: 70px !important;
      max-height: 70px !important;
      margin-left: 5px;
      pointer-events: none;
      box-sizing: border-box;
  }

  .services-selected ul {
    background: inherit;
    margin-left: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .text-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .line {
    width: 80%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
  }

  .service-title {
    margin-bottom: 0;
  }

  .services-selected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    font: 700 20px Poppins;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    flex-shrink: 0;
    height: 100%;
  }

  .continue {
    margin-top: 20px;
    width: 150px;
  }

  .plus-button,
  .remove-button {
    background-color: white;
    box-shadow: none;
    padding: 15px;
    flex-shrink: 0;
  }

  .category-list button:hover {
    background-color: white !important;
  }

  .image-container {
    overflow: hidden;
  }

  .image-div {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15px;
    margin-left: 100px;
  }

  .focus-image,
  .side-images {
    width: 80%;
    height: auto;
    padding: 10px;
  }

  .focus-image {
    grid-column: 1 / 2;
    width: 90%;
    height: auto;
    justify-self: center;
    align-self: center;
  }

  .side-images-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
  }

    .side-images-containerB {
      display: flex;
      flex-direction: column;
      grid-column: 2 / 3;
    }

  .side-images {
    justify-self: left;
    margin-left: -50px;
    width: 78%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1.86/ 1;
    object-fit: cover;
  }

  .side-imagesP {
    justify-self: left;
    margin-left: -50px;
    width: 78%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 2.04/ 1;
    object-fit: cover;
  }
  .side-imagesB {
    justify-self: left;
    margin-left: -50px;
    width: 78%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1.72/ 1;
    object-fit: cover;
  }
  .side-imagesH {
    justify-self: left;
    margin-left: -50px;
    width: 78%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1.71/ 1;
    object-fit: cover;
  }

  .side-images-container > :first-child {
    padding-bottom:10px;
  }

.side-images-containerB> :first-child {
  padding-bottom: 20px;
}

    .side-images-containerB> :last-child {
      padding-bottom: 0;
    }

  .select-serv {
    font: 700 32px Cormorant;
    text-align: left;
    margin-left: 150px;
  }
}

/* mobile screen */
@media screen and (max-width: 766px) {
  .tabs {
    font: 700 20px Cormorant;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 15px 0;
  }

  .tabs button {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 8px;
  }

  .tabs button.active {
    background-color: #baca82;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .tabs button:not(.active) {
    background-color: transparent;
    box-shadow: none;
  }

  .category-list {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .category-list button:hover {
    background-color: white !important;
  }

  .category-list [class^="item-"] {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

    .category-list [class^="item-"]:hover {
      transform: scale(1.05);
    }

  .tabs-cat-list {
    flex-direction: column;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .check-mark {
    max-width: 50px !important;
    max-height: 50px !important;
    padding-right: 15px;
    pointer-events: none;
  }

  .services-selected {
    font: 700 18px Poppins;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
  }

  .services-selected ul {
    display: none;
  }

  .service-title {
    margin-bottom: 0;
  }

  .continue {
    margin-top: 5px;
    width: 120px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .plus-button,
  .remove-button {
    background-color: white;
    box-shadow: none;
    flex-shrink: 0;
  }
  .remove-button {
    width: 60px;
    height: 50px;
    padding: 1px;
  }

  .image-container,
  .image-div,
  .focus-image,
  .side-images,
  .side-images-container {
    display: none;
  }

  .select-serv h3 {
    font: 700 36px "Cormorant";
    text-align: center;
    margin-left: 0;
  }
}
