/*Web design*/
@media screen and (min-width: 767px) {
    /*need to fix web contact form*/
    .contactinfo-container {
        margin-top: 40px;
        margin-bottom: -30px;
        }


    .mobileHandle {
        display: none;
    }

    .contact-bottom-div {
        box-sizing: border-box;
            padding-bottom: 50px;
            padding-top: 0px;
            background-color: #5C5C5C;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-left: auto;
            margin-left: auto;
    }

        .contact-bottom-div p {
            color: white;
        }

    .toph1 {
        display: none;
    }

    .bottomh1 {
        color: white;
    }

    .contact-us-mobile {
        display: none;
    }

    .contact-icons {
        /* need icons to be side by side and bigger */
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 40px;
    }

    .social-icons {
        display: none;
    }

    .social-icons-web {
        /*need these to be stacked on top of each other*/
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .follow-us-container {
        background-color: #5C5C5C;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        color: white;
    }



}

/*mobile styles*/
@media screen and (max-width: 767px) {
    .contact-us-mobile {
        align-items: center;
        background-color: #5C5C5C;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        color: white;
        width: 100%;
        
    }

    .contact-us-mobile p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        }

    .contact-bottom-div {
        display: none;
    }

    .follow-us-container {
        display: none;
    }

    .contact-icons {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 40px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .mobileHandle {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}