.footer {
    background-color: #090b0a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.newsletter input {
    width: 280px;
    padding: 10px;
    margin: 10px 0px;
}

.hours {
    margin-left: 40px;
}

.suite-spot h2,
.newsletter h3 {
    margin: 0;
    padding-bottom: 4px;
}

.newsletter {
    padding: 20px;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.social-icons a img {
    width: 40px;
    /* Adjust the size as needed */
    margin: 0px 20px
    /* Space between icons */
}

/* Add responsiveness */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }
}