.footer {
    background-color: #090b0a;
    color: white;
    padding: 0px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.business-info {
    width: 60%;
    /* Adjust the width as needed */
}

.newsletter {
    width: 40%;
    /* Adjust the width as needed */
}

.newsletter input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.hours {
    margin-top: 20px;
}

.suite-spot h2,
.newsletter h2 {
    margin-top: 0;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.social-icons a {
    margin-right: 20px;
    /* Space between icons */
}

/* Add responsiveness */
@media (max-width: 768px) {

.footer {
        background-color: #090b0a;
        color: white;
        padding: 0px 50px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .business-info {
        width: 70%;
        /* Adjust the width as needed */
    }

    .newsletter {
        width: 50%;
        /* Adjust the width as needed */
    }

    .newsletter input {
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
    }

    .hours {
        margin-top: -30px;
    }

    .suite-spot h2,
    .newsletter h2 {
        margin: 0;
        font-family: "poppins";
        font-size: 15px;
        text-wrap: none;
    }

    .social-icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
    }

    .social-icons a {
        margin-right: 0px;
        /* Space between icons */
    }

    
}