/* Resetting default margin and padding for ul and li */

nav ul,
nav ul ul {
    list-style: none;
    margin: 0 0 5 0;
    padding: 0;
    margin-top: 5px;
}

header {
    position: relative;
    background-color: white;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    /* Set the display to flex to make items spread horizontally */
}

nav a {
    color: #090B0A;
    font-family: 'cormorant-bold', serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    /* Padding for regular nav items */
}

.account-link-button,  .about-link-button{
    color: #090B0A;
    font-family: 'cormorant-bold', serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
        /* Padding for regular nav items */
    background-color: white;
    transition: background-color 0.3s ease;
    border-radius: 0;
    text-shadow: none;
    text-transform: none !important;
    border: none;
    box-shadow: none !important;
        /* Remove the drop shadow */
}


.account-link-button:hover , .about-link-button:hover{
    background-color: #E7E7E7;
}

.account-link-button:focus , .about-link-button:focus{
    outline: none;
    /* Remove outline on focus, add if necessary */
}

nav a.contact-link {
    /* Makes "Contact Us" link fit on one line*/
    white-space: nowrap;

}

nav a:hover {
    background-color: #E7E7E7;
}

nav li {
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: max-content;
    white-space: nowrap;
}

nav ul ul a {
    color: #090B0A;
}

nav ul ul a:hover {
    background-color: #E7E7E7;
}


.logo-web {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.profile-container {
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1000;
}

/* Distribute the nav links evenly */
nav li {
    flex: 1;
    text-align: center;
}

/* Optional: Center the text vertically */
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-mobile {
    display: none;
    
}
