
header {
    position: relative;
    background-color: white;
    padding: 10px;
}

.logo-and-nav {
     display: flex;
     align-items: center;
     font-family: 'Cormorant', serif;
 }

 .logo {
     max-width: 100px;
     height: auto;
     margin-right: 20px;
 }

 .profile-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
 }

  .profile-icon {
    max-width: 50%;
  }