/*global styles:*/
.booknow-section {
    display: flex;
    justify-content: space-between;
}

.booknow-section button {
    height: 42px
}

.carousel-container-web {
    position: relative;
}

.carousel-container-mobile {
    display: relative;
}

.suite-spot-overlay {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.title {
    font-family: "greatvibes";
    font-weight: 500;
}

/*mobile styles:*/
@media screen and (max-width: 767px) {
    .carousel-container-web {
        display: none;
    }

    .promoButton {
        position: absolute;
        top: 50%;
        left: 26%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Set a higher z-index to ensure the button is on top */
        /* Add other styles as needed */
    }

    .title {
        font-size: 35px;
        margin-bottom: -28px;
        margin-top: 100px;
    }

    h3 {
        font-size: 20px;
    }


}

/*web styles:*/
@media screen and (min-width: 767px) {
    .carousel-container-mobile {
        display: none;
    }

    .promoButton {
        position: absolute;
        top: 50%;
        left: 26%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Set a higher z-index to ensure the button is on top */
        /* Add other styles as needed */
    }

    .title {
        font-size: 50px;
        margin-bottom: -28px;
        margin-top: -5px;
    }

    h3 {
        font-size: 25px;
    }


}
