/* General */
.reg {
    text-align: center;
}
.purp {
    text-align: center;
    color: #8569B8;
}

.check {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: inline-block;
    margin-right: 5px;
    border: 10px solid #000;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}



/* Mobile */
@media screen and (max-width: 767px) {
    .loginform {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .textarea {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;
    }

    .logbutton {
        padding: 15px 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #5A5A5A;
        font-family: "Raleway";
        font-size: 24px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

/* Web */
@media screen and (min-width: 767px) {
    .loginform {
        max-width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .textarea {
        width: 500px;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;
        max-width: 450px;
        margin: 0 auto;
    }

    .logbutton {
        padding: 15px 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #5A5A5A;
        font-family: Raleway;
        text-decoration: none;
        font-size: 24px;
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}