.photo-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-carousel img {
    width: 85%;
    height: auto;
    flex-shrink: 0;
    align-items: center;
}


.photo-carousel button {
    background-color: white;
    stroke: #5c5c5c;
    stroke-width: 4;

}

.leftbutt {
    margin-left: 50px;
    margin-right: 0px;

}

.rightbutt {
    margin-left: 0px;
    margin-right: 50px;

}

/*largest web screen styles*/
@media screen and (min-width: 1300px) {
    .photo-carousel img {
            width: 85%;
            height: auto;
            flex-shrink: 0;
            align-items: center;
        }
}



@media screen and (max-width: 767px) {

    .photo-carousel {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .photo-carousel img {
        max-width: 80%;
        height: auto;
        align-items: center;
    }

    .photo-carousel button {
        background-color: white;
        stroke: #5c5c5c;
        stroke-width: 4;
    }

    .leftbutt {
    margin-left: 0px;
    margin-right: 0px;

}

.rightbutt {
    margin-left: 0px;
    margin-right: 0px;

}

}
