/* general */
#order-placed main {
  padding: 52px 230px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.center-text {
  text-align: center;
}
.align-right {
  text-align: right;
}
/* dropdown stuff */
#order-placed main .dropdown {
  width: 100%;
  height: fit-content;
}
#order-placed main .dropdown-btn {
  background-color: #5c5c5c;
  color: white;
}
#order-placed button {
  margin-top: 14px;
  margin-bottom: 150px;
}
#order-placed main .dropdown-content {
  padding: 28px;
  transition: height 3s ease-in-out;
}
.ordered-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  gap: 12px;
  margin-bottom: 12px;
}
.ordered-item img {
  aspect-ratio: 1;

  width: 100%;
  object-fit: cover;
}
.item-qty {
  font-weight: bold;
  font-size: 15px;
}

/* order placed  placing*/
.icon-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-info img {
  width: 45px;
  margin-right: 10px;
}
.icon-info h3 {
  font-size: 30px;
}
@keyframes slideIn {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}
