.order-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#titles-right {
    text-align: right;
}

.width {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.details {
    width: 100%;
    max-width: 600px;
    /* Adjust the width as needed */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Shadow to match your design */
    margin-top: 0;
    box-sizing: border-box;
}

.order-details-container h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    background-color: #D8E79C;
    width: 100%;
    max-width: 600px;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-details p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

