/* web screen */
@media screen and (min-width: 767px) {
    .page-title {
        /*background image*/
        height: 367px;
        display: flex;
        flex-direction: column;
        padding-left: 133px;
        flex-shrink: 0;
        background: lightgray url("../assets/images/salon-chair.jpeg") no-repeat center/cover;
    }
    .title-text {
        text-align: left;
        line-height: 1.2;
    }
    
    .about-text {
        text-align: left;
        margin-top: 127px;
        margin-bottom: -46px;
    }

    .story-mission-container{
        height: 410px;
        display: flex;
        padding-top: 35px;
        margin-top: -20px;
        background-color: white;
    }

    .our-story {
        text-align: center;
        width: 500px;
        height: 276px;
        flex-shrink: 0;
        padding-left: 132px;
    }

    .our-mission {
        text-align: center;
        width: 500px;
        height: 276px;
        flex-shrink: 0;
        padding-left: 180px
    }

    .sm-p {
        text-align: justify;
    }

    .awards-container {
        height: 482px;
        padding-bottom: 100px;
        flex-shrink: 0;
        color: var(--Color, #FFF);
        border: 1px solid #000;
        background: #5C5C5C;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .items-container{
        margin-left: 260px;

    }

    .golden-scissors,
    .diamond-spa,
    .platinum-innovators {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    h1 {
        /* Heading 1 */
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h2 {
        /* Heading 2 */
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}