/*using this style sheet for contact us page too!*/
.fields {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px;
    font-family: "poppins";
}

textarea.fields {
    height: 80px;
}

textarea {
    font-family: "poppins";

}



/*Web design*/
@media screen and (min-width: 767px) {

    .centerit {
        display: flex;
        justify-content: center;
    }

    .blurb-container {
        display: flex;
        justify-content: space-between;
        max-width: 75%;
    }

    .blurbs {
        width: 48%;
        box-sizing: border-box;
        padding: 10px;
        margin: 20px;
        background-color: #BACA82;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }


    h1 {
        text-align: center;
        padding-top: 20px;
    }

    h2 {
        padding: 5px
    }

    .container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .pmain {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .rent-section {
        align-items: center;
        background-color: #5C5C5C;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        color: white;
    }

    .formarea {
        display: flex;
        justify-content: center;
        max-width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .fields {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
    }

    .formarea button {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        margin: 15px auto
    }
}

/* Mobile Design */
@media screen and (max-width: 767px) {
    .contact-icons {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 40px;
    }


    .blurb-container {
        text-align: center;
    }

    .blurbs {
        width: 90%;
        box-sizing: border-box;
        padding: 10px;
        margin: 20px auto;
        background-color: #BACA82;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        align-items: center;

    }

    img {
        max-width: 100%;
    }

    h1 {
        padding-top: 0px;
        text-align: center;
    }

    h2 {
        padding: 5px
    }

    .p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .rent-section {
        text-align: center;
        background-color: #5C5C5C;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .formarea {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        text-align: left;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }


    label {
        margin-bottom: 5px;
    }

    .formarea button {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        margin: 15px auto;
    }
}