.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container h2 {
    color:#000;
    margin-bottom: 20px;
}

.popup-container p {
    color: #000;
}

.popup-container {
    width: 18%;
    /* Adjust this for desired size */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}