.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.image-wrapper {
    display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin-right: 20px;
        margin-top: 30px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
}

.info {
    text-align: left;
        margin-top: auto;
        margin-left: 10px;
        }

.info p {
    padding-top: 0px;
    margin-left: 5px;
    
}

.info h1 {
    padding-top: 0px;
    margin-bottom: 0px;
}

.purp-button:hover {
    background-color: #8569B8;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates two columns of equal width */
    grid-auto-flow: dense;
    justify-content: space-between;
    gap: 20px;
    /* This adds space between the columns and rows */
    padding: 20px;
}

.service-category {
    padding: 20px;
    border-right: 2px solid #ccc;
    /* Add a right border for the line */
}

/* Remove border from the second (last) item in each row for a 2-column layout */
.service-category:nth-child(2n) {
    border-right: none;
}

.space-below {
    margin-bottom: 40px;
}

.gallery-container {
    position: relative;
    width: 910px;
    /* Adjust width as needed */
    margin: 0 auto;
    /* This centers the gallery */
}

.navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* Add more styling for the buttons here */
}

.navigation-button.left {
    left: 10px;
}

.navigation-button.right {
    right: 10px;
}


.thumbnail-container {
    display: flex;
    justify-content: center;
    /* Add more styling for the thumbnail container here */
}

.thumbnail-container img {
    width: 157px;
    height: 99px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    /* Add more styling for thumbnails here */
}

.mobile-gallery {
    display: none;
}

@media screen and (max-width: 600px) {
    .image-wrapper {
        display: none;
    }
        .mobile-gallery {
            display: block;
            margin: 10px 30px !important;
        }
}

@media screen and (max-width: 1200px) {
.services-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Creates two columns of equal width */
    gap: 0px;
    /* This adds space between the columns and rows */
    padding: 0px;
}

.service-category {
    border: none !important;
}
}

@media screen and (max-width: 900px) {
    .gallery-container {
            display: none;
        }
    .mobile-gallery {
        display: block;
        margin: 10px 150px;
    }
    .dropdown {
        width: 70%;
    }
    .serviceName {
        font-size: 20px
    }
}