/* Styles for smaller screens (mobile) */
@media screen and (max-width: 767px) {
    /*nav ul {
        display: none;
    } idk if i need this???*/ 

    nav {
        display: none;/*hide nav at first*/
        grid-area: nav;
        width: 326px;
        height: 100vh; /*take up entire viewport height. i thought this looks cleaner*/
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 999;
        text-align: center;
        background-color: white;
    }

    .header-container.mobile-open nav {
    display: block;
    }

    #hamburger-menu::before {
        content: '\2630';
        grid-area: hamburger-menu;
       
    }

    #hamburger-menu {
        font-size: 45px;
        color: #5C5C5C;
        grid-area: hamburger-menu;
        margin-bottom: 7px;
    }

    nav ul ul {
        width: 100%;
    }

    .header-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: "logo-mobile profile hamburger-menu "
            "nav nav nav";
        align-items: center;
    }

    nav ul {
        width: 100%; /*nav links grey part*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%;
       
        text-align: center;
            /* Center the text in the list items */
    }

    .purp-button {
        display: block;
        margin: 10px auto; /* Center the "Book Now" button */
    }

    .logo-web {
        display: none;
    }

    .logo-mobile {
        max-width: 75%;
        height: auto;
        display: block;
        grid-area: logo-mobile;
    }

    .profile-icon-mobile {
        max-height: 35px;
        display: block;
    }

    .profile-icon-web {
        display: none;
    }


    .icon-mobile {
        max-height: 35px;
        margin-right: 10px;
        display: flex;
    }

  nav ul li:hover>ul { /*makes subpages vertical*/
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
  }
   
}


/* Styles for larger screens */
@media screen and (min-width: 767px) {
    .profile-icon-mobile {
        display: none;
    }

    .profile-icon-web {
        max-width: 40%;
    }

    .logo-mobile {
    display: none;
    }


}

