/* responsive.css */
/* Styles for smaller screens (mobile) */
@media screen and (max-width: 767px) {
    
    nav ul { /*hide regular nav links*/
        display: none;
    }
    nav {
        grid-area: nav;
    }

   

    /* Optional: Style the hamburger icon */
    #hamburger-menu::before {
    content: '\2630'; /* Unicode character for hamburger icon */
    }


    /* Show the hamburger menu on smaller screens */
    #hamburger-menu {
    display: block;
    font-size: 40px; /* size of hamburger menu*/
    color: #5C5C5C;
    grid-area: hamburger-menu;
    }
    
    /* Display the nav links when the hamburger menu is open */
    nav ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Show the dropdown menu when the hamburger menu is open */
    nav ul.show ul {
        display: block;
    }

    .header-container {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "logo-mobile profile hamburger-menu nav";
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li { /*the spacing between the links */
        margin: 10px 0;
    }

    .logo-web {
        display: none;
    }

    .logo-mobile {
        max-width: 70%;
        height: auto;
        display: block;
        grid-area: logo-mobile;
    }

    nav a:hover {
    width: 100%; /* Make the background color extend across the entire width */
    display: block; /* Display as a block to take full width */
  }
    
    .profile-icon {/* Make the profile icon smaller for mobile */
    max-width: 40px;
  }

    .profile-container {
        grid-area: profile;
    }
}


/* Styles for larger screens */
@media screen and (min-width: 767px) {
    .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    /* Adjust the spacing between the links */
}

/* Optional: Style the dropdown menu */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    /* Change the background color if needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul li:hover>ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    /* Adjust the spacing between dropdown items */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.logo-mobile {
    display: none;
}
}

