/* web screen */
@media screen and (min-width: 767px) {
  .tabs {
    text-align: center;
    font-family: Cormorant;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tabs button {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 10px;
  }

  .tabs button.active {
    background-color: #baca82;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .tabs button:not(.active) {
    background-color: transparent;
    box-shadow: none;
  }

  .category-list {
    font-family: Poppins;
    font-size: 16.342px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .category-list [class^="item-"] {
    white-space: pre-line;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tabs-cat-list {
    flex-direction: column;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .check-mark {
    width: 70px;
    height: 70px;
    margin-left: 5px;
    pointer-events: none;
  }

  .services-selected {
    position: relative;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 358px;
    height: 270px;
    flex-shrink: 0;
    padding-bottom: 150px;
  }

  .line {
    width: 80%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
  }

  .service-title {
    margin-bottom: 0;
  }

  .continue {
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    margin-bottom: 20px;
  }

  .plus-button,
  .remove-button {
    background-color: white;
    box-shadow: none;
    padding: 15px;
  }

  .image-container {
    overflow: hidden;
  }

  .image-div {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 0;
    justify-content: center;
    align-items: center;
  }

  .focus-image,
  .side-images {
    width: 80%;
    height: auto;
    padding: 10px;
  }

  .focus-image {
    grid-column: 1 / 2;
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;
  }

  .side-images-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
  }

  .side-images {
    width: 80%;
    height: auto;
    padding-bottom: 10px;
    justify-self: left;
    margin-left: -50px;
  }
  .select-serv {
    font-family: Cormorant;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-left: 150px;
  }
}
