/* general */
.box {
  border: 2px solid black;
  background-color: white;
}
.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 50px;
}
.center-children {
  text-align: center;
}
.center-v {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
}
input {
  margin: 0;
}

/* title */
#shop-banner {
  background-image: url("../assets/images/shopbanner.png");
  background-size: cover; /* Specifies how the background image should be sized */
  background-position: center;
  height: 20em;
}
h1 {
  margin: 0;
  opacity: 100%;
}
#cart-icon {
  position: absolute;
  right: 0;
}

.title-container {
  margin: 0;
  padding: 20px;
}

/* shop items */
.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  gap: 20px;
  padding: 20px;
}
.item {
  padding-bottom: 10px;
}
.item-img {
  width: 100%;
  object-fit: cover;
}

/* giftcard */
.giftcard-grid {
  width: 70%;
  border: 2px solid black;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns with equal width */
  gap: 20px;
}
.giftcard-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid black;
}
.giftcard-info {
  padding: 0 20px 10px 20px;
}
