.box {
  padding: 20px;
  border: 2px solid black;
}
.giftcard-grid {
  width: 50%;
  padding: 20px;
  border: 2px solid black;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr; /* Two columns with equal width */
  gap: 20px;
}

.title-container {
  width: 100%;
  background-color: white;
  margin: 0;
  opacity: 10%;
}
