/* General */
.reg {
    text-align: center;
}

.purp {
    text-align: center;
    color: #8569B8;
}
.text-container,
.contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

.inline>div {
    margin-right: 10px;
}

#confirm {
    background-color: white;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .signupform {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .section1,
    .textarea {
        display: block;
        width: 145px;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;

    }

    .textarea {
        width: 300px;
    }

    .signupform button {
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #5A5A5A;
        font-family: Raleway;
        font-size: 24px;
        width: 250px;
        margin: 0 auto;
        display: flex;
    }
}

/* Web */
@media screen and (min-width: 767px) {
    .signupform {
 
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .inline {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .inline>div {
        margin-right: 10px;
    }

    .section1 {
        display: flex;
        justify-content: center;
        width: 240px;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;
    }

    .textarea {
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;
        width: 700px;
        margin: 0 auto;
        background-color: white;
    }

    .signupform button {
        padding: 15px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #5A5A5A;
        font-family: Raleway;
        font-size: 24px;
        width: 300px;
        margin: 0 auto;
    }
}