/* General */
.signupTitle {
    margin-bottom: -20px;
}
.wonkyName {
    margin-bottom: 0;
}

.signupform {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width:40%;
}

.signupform input {
    font-family: 'poppins';
}

.input p {
    font-family: "poppins";
}

.nameField {
    display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 50px;

}

.inlineSignUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 10px
}

.section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    height: 50px;
}


.signupform button {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #5A5A5A;
    font-family: Raleway;
    font-size: 24px;
    width: 300px;
    margin: 0 auto;
}

.purp {
    color: #8569B8;
}

.text-container,
.contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#confirm {
    background-color: white;
}

#confirm:hover {
    background-color: white;
}

#first {
    position: relative;
    right: 10px
}

/* Mobile */
@media screen and (max-width: 767px) {
    .signupform { 
        width: 80%;}
   

    .signupform button {
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #5A5A5A;
        font-family: Raleway;
        font-size: 24px;
        width: 250px;
        margin: 0 auto;
        display: flex;
    }
}

@media screen and (min-width: 767px) {
.inlineSignUp {
        display: flex;
        justify-content: center; 
        gap: 10px
    }

    /* Adjust the width of each nameField as needed */
    .nameField {
        width: 100%;

    }

}
