.blurb-container {
    display: flex;
    justify-content: space-between;
}


.blurb1,
.blurb2 {
    width: 48%;
    box-sizing: border-box;
    padding: 10px
}

.center {
    text-align: center;
}

.rent-section {
    text-align: center;
}

.inline {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}

.inline button {
    display: block;
    margin: 0 auto;
}