/*homepage styles*/
header {
    background-color: white;
    padding: 10px; 
}

/* nav styles */
.nav {
    font-family: 'Cormorant', serif; /* Use Cormorant font for navigation links */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.profile-icon-container {
    position: fixed;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}
.profile-icon {
    max-width: 30%; 
    height: auto;
    margin-right: 20px;
}

.logo-and-nav {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; 
    height: auto;
    margin-right: 20px; 
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
}

.nav a {
    text-decoration: none;
    color: #090B0A; /* Adjust link color as needed */
}

.nav a:hover {
    background-color: #E7E7E7;
}

/* body styles */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #EADDCB, white);
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-size: 14px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant', serif; /* Use Cormorant font for headers */
    font-weight: bold; /* Make headers bold */
    text-align: center;
}

/* should we title this "page-titles" instead of home since it will be consistent 
through alot of pages?? -Callie  */
.home-title {
    background-color: rgba(255, 255, 255, 0.45);
    /* Adjust the opacity value (0.45) as needed */
    padding: 10px; 
    text-align: center;
}

.pampering-section {
    background-color: rgba(255, 255, 255, 0.45);
    /* Adjust the opacity value (0.45) as needed */
    padding: 10px; 
}


button {
    background-color: #BACA82;
    color: #090B0A;
    padding: 10px 20px; /* Adjust as needed */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* Add other styling properties for the button as needed */
}

.purp-button {
    background-color: #AA95D1;
    color: white;
    padding: 10px 20px; /* Adjust as needed */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* Add other styling properties for the button as needed */
}

/* footer styles */
footer {
    background-color: #090B0A;
    color: white;
    padding: 10px; 
}
