/*homepage styles*/
header {
    background-color: white;
    padding: 10px; 
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #EADDCB, white);
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-size: 14px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant', serif; /* Use Cormorant font for headers */
    font-weight: bold; /* Make headers bold */
}

.home-title {
    background-color: rgba(255, 255, 255, 0.45);
    /* Adjust the opacity value (0.45) as needed */
    padding: 10px; 
}

.pampering-section {
    background-color: rgba(255, 255, 255, 0.45);
    /* Adjust the opacity value (0.45) as needed */
    padding: 10px; 
}


footer {
    background-color: #090B0A;
    color: white;
    padding: 10px; 
}

button {
    background-color: #BACA82;
    color: #090B0A;
    padding: 10px 20px; /* Adjust as needed */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* Add other styling properties for the button as needed */
}

.purp-button {
    background-color: #AA95D1;
    color: white;
    padding: 10px 20px; /* Adjust as needed */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* Add other styling properties for the button as needed */
}